/* About Page Styles */


#Us p::first-letter { /*makes the first letter big*/
    font-size: 2rem;
    font-weight: bold;
    color: #031940;
    float: left;
    margin-right: 0.1em;
}
#Us img {
    width: 50%;
    display: block;
    margin: 2rem auto;
    border-radius: 8px;
}
.events-grid article{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    gap: 1.5rem;
    padding: 2rem;
    color: black;
    background-color: white;
    border-radius: 8px;
}

.events-grid article img{
    grid-column: 2;
    grid-row: 1/5;
    
    width: 40%;
    border-radius: 8px;

}

.events-grid article h3 {
    grid-column: 1;
}

.events-grid article p {
    grid-column: 1;
}


