/* shared page if i want to change multiple pages at once cus they have the same styling*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#hero img {
    display: block;
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    margin: 0 auto;
}

body {
    font-family: Georgia, serif;
    color: #1a1a1a;
    background-color: #f7fbff;
}

header {
    background-color: #031940; /*colour match to BCO banner */ 
    padding: 1rem 2rem;
    display: flex;/*puts logo and nav beside each other*/ 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /*so it doesnt break on small screen*/
    gap:0.5rem;
}

header h1 {
    color: #ffffff; 
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media(min-width:590px){ /*only apply these styles if the screen is at least 590px wide*/
    nav ul{
        flex-direction: row;
        gap: 1rem;
    }
}

nav ul li a {
    color: #ffffff;
    text-decoration: none; /*Removes underline from nav*/
    padding: 0.5rem 1rem;
}

nav ul li a:hover { /*colour will change when this tab is hovered over*/
    background-color: #2f4665;
    color: #031940;
}

nav ul li a.active { /*colour will change when this is active page from the nav*/
    background-color: #2f4665;
    color: #ffffff;
}

footer {
    background-color: #031940;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 2rem;
    margin-top: 2rem;
}

@media(min-width: 790px){ /*for when the min width is 790px*/
    
        
    body{
        background-color: #d6e4f7;
    }
    main{
        max-width: 790px;
        margin: 0 auto;
        background-color: #f7fbff;
    }
}
